* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v382_5 {
  width: 100%;
  height: 3457px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v382_445 {
  width: 887px;
  height: 953px;
  background: url("../images/v382_445.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 2482px;
  left: 405px;
  overflow: hidden;
}
.v382_318 {
  width: 363px;
  background: url("../images/v382_318.png");
  opacity: 1;
  position: absolute;
  top: 795px;
  left: 122px;
  border: 0.5003622770309448px solid rgba(195,195,195,1);
}
.v382_447 {
  width: 100%;
  height: 3235px;
  background: url("../images/v382_447.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 101px;
  overflow: hidden;
}
.v382_319 {
  width: 885px;
  background: url("../images/v382_319.png");
  opacity: 1;
  position: absolute;
  top: 3235px;
  left: 176px;
  border: 0.5003622770309448px solid rgba(195,195,195,1);
}
.v382_257 {
  width: 404px;
  height: 312px;
  background: url("../images/v382_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2409px;
  left: 0px;
  overflow: hidden;
}
.v382_260 {
  width: 404px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_259 {
  width: 215px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_261 {
  width: 646px;
  height: 455px;
  background: url("../images/v382_261.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1357px;
  left: 575px;
  overflow: hidden;
}
.v382_275 {
  width: 234px;
  height: 276px;
  background: url("../images/v382_275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 382px;
  overflow: hidden;
}
.v382_281 {
  width: 234px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 115px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_276 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 88px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_277 {
  width: 58px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2700250148773193px solid linear-gradient(rgba(186,147,118,0.05000000074505806), rgba(247,231,219,0.05000000074505806));
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 3.175062656402588px 3.175062656402588px 6px rgba(0.6000000238418579, 0.545098066329956, 0.501960813999176, 0.25999999046325684);
  overflow: hidden;
}
.v382_278 {
  width: 37px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 10px;
  overflow: hidden;
}
.v382_279 {
  width: 27px;
  height: 25px;
  background: rgba(195,195,195,0.5);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
}
.v382_280 {
  width: 27px;
  height: 25px;
  background: url("../images/v382_280.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 2.3100342750549316px solid rgba(195,195,195,1);
}
.v382_267 {
  width: 234px;
  height: 256px;
  background: url("../images/v382_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 179px;
  left: 0px;
  overflow: hidden;
}
.v382_268 {
  width: 219px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 88px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_269 {
  width: 234px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 115px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_270 {
  width: 58px;
  height: 58px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.2704637050628662px solid linear-gradient(rgba(186,147,118,0.05000000074505806), rgba(247,231,219,0.05000000074505806));
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 3.1761586666107178px 3.1761586666107178px 6px rgba(0.6000000238418579, 0.545098066329956, 0.501960813999176, 0.25999999046325684);
  overflow: hidden;
}
.v382_271 {
  width: 37px;
  height: 37px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 11px;
  overflow: hidden;
}
.v382_272 {
  width: 23px;
  height: 30px;
  background: rgba(195,195,195,0.5);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
}
.v382_273 {
  width: 23px;
  height: 30px;
  background: url("../images/v382_273.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  border: 2.3108317852020264px solid rgba(195,195,195,1);
}
.v382_274 {
  width: 11px;
  height: 11px;
  background: url("../images/v382_274.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2.3108317852020264px solid rgba(195,195,195,1);
}
.v382_265 {
  width: 646px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_264 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_20 {
  width: 521px;
  height: 577px;
  background: url("../images/v382_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 652px;
  left: 1px;
  overflow: hidden;
}
.v382_26 {
  width: 453px;
  height: 172px;
  background: url("../images/v382_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 3px;
  overflow: hidden;
}
.v382_27 {
  width: 173px;
  height: 172px;
  background: url("../images/v382_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v382_28 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v382_29 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_30 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_31 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_32 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_33 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_34 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_35 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_36 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_37 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_38 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_39 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v382_40 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_41 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_42 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_43 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_44 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_45 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_46 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_47 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_48 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_49 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_50 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v382_51 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_52 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_53 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_54 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_55 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_56 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_57 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_58 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_59 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_60 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_61 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  overflow: hidden;
}
.v382_62 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_63 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_64 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_65 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_66 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_67 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_68 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_69 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_70 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_71 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_72 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v382_73 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_74 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_75 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_76 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_77 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_78 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_79 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_80 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_81 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_82 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_83 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_83.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 0px;
  overflow: hidden;
}
.v382_84 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_85 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_86 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_87 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_88 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_89 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_90 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_91 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_92 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_93 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_94 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v382_95 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_96 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_97 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_98 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_99 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_100 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_101 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_102 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_103 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_104 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_105 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v382_106 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_107 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_108 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_109 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_110 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_111 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_112 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_113 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_114 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_115 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_116 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_116.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v382_117 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_118 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_119 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_120 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_121 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_122 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_123 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_124 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_125 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_126 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_127 {
  width: 173px;
  height: 7px;
  background: url("../images/v382_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 0px;
  overflow: hidden;
}
.v382_128 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_129 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_130 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_131 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_132 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 74px;
  border-radius: 50%;
}
.v382_133 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_134 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_135 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_136 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_137 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 166px;
  border-radius: 50%;
}
.v382_138 {
  width: 172px;
  height: 172px;
  background: url("../images/v382_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 281px;
  overflow: hidden;
}
.v382_139 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v382_140 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_141 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_142 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_143 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_144 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_145 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_146 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_147 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_148 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_149 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_150 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v382_151 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_152 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_153 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_154 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_155 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_156 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_157 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_158 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_159 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_160 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_161 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_161.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v382_162 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_163 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_164 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_165 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_166 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_167 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_168 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_169 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_170 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_171 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_172 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 0px;
  overflow: hidden;
}
.v382_173 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_174 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_175 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_176 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_177 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_178 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_179 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_180 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_181 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_182 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_183 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_183.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 110px;
  left: 0px;
  overflow: hidden;
}
.v382_184 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_185 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_186 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_187 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_188 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_189 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_190 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_191 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_192 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_193 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_194 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 147px;
  left: 0px;
  overflow: hidden;
}
.v382_195 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_196 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_197 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_198 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_199 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_200 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_201 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_202 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_203 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_204 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_205 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 55px;
  left: 0px;
  overflow: hidden;
}
.v382_206 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_207 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_208 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_209 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_210 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_211 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_212 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_213 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_214 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_215 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_216 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 0px;
  overflow: hidden;
}
.v382_217 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_218 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_219 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_220 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_221 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_222 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_223 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_224 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_225 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_226 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,0.36000001430511475);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_227 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 0px;
  overflow: hidden;
}
.v382_228 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_229 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_230 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_231 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_232 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_233 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_234 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_235 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_236 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_237 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_238 {
  width: 172px;
  height: 7px;
  background: url("../images/v382_238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 165px;
  left: 0px;
  overflow: hidden;
}
.v382_239 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v382_240 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  border-radius: 50%;
}
.v382_241 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 37px;
  border-radius: 50%;
}
.v382_242 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  border-radius: 50%;
}
.v382_243 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 73px;
  border-radius: 50%;
}
.v382_244 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 92px;
  border-radius: 50%;
}
.v382_245 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 110px;
  border-radius: 50%;
}
.v382_246 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 129px;
  border-radius: 50%;
}
.v382_247 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 147px;
  border-radius: 50%;
}
.v382_248 {
  width: 7px;
  height: 7px;
  background: rgba(195,195,195,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 165px;
  border-radius: 50%;
}
.v382_23 {
  width: 197px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 442px;
  left: 3px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v382_24 {
  width: 78px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 388px;
  left: 0px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v382_250 {
  width: 197px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 442px;
  left: 285px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v382_251 {
  width: 82px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 388px;
  left: 279px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v382_253 {
  width: 521px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 38px;
  left: 0px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_254 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_15 {
  width: 465px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 404px;
  left: 1px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_16 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 366px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_18 {
  width: 465px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 200px;
  left: 1px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_19 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 162px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_12 {
  width: 465px;
  color: rgba(195,195,195,1);
  position: absolute;
  top: 38px;
  left: 1px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v382_13 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v382_478 {
  width: 761px;
  height: 30%;
  background: url("../images/v382_478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 623px;
  overflow: hidden;
}
.v382_479 {
  width: 646px;
  height: 953px;
  background: url("../images/v382_479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1529px;
  left: 0px;
  overflow: hidden;
}
